@import "../utils/variables.scss";
@import "../bases/bases.scss";
@import "../layouts/layouts.scss";
@import "../utils/keyframes.scss";


// HEADER
.header{
    &__nav{
        @include displayRow; 
        @include padding(4%);
        svg{
            margin : 0 auto;
        }
    }
    
    &--img{
        width: 100%;
        object-fit: cover;
        height: 285px;
        margin: 0 auto ;
    }
}

// MAIN 
main{
    @include padding(4% 4% 8% 4%);
    @include rounded(  $radius-40   $radius-40 0 0);
    margin-top: -9%;
    background-color: $verylightgrey;
    position: relative; 

    .btn-order{
        @include padding(18px); 
        @include rounded($radius-35);
        @include shadowOutset($s2:7px, $s3:8px, $s4: 2px);
        @include justifyContent;
        background-image: linear-gradient( $secondaryColor, $primaryColor);
        display: flex;
        width: 200px;
        margin: 0 auto;
        margin-top: 40px;
        transition: 400ms;
        
        &:hover{
            filter: brightness(125%);
            @include shadowOutset($color :#717171, $s1:0px , $s2:5px , $s3:13px, $s4: 4px);

        }

        &--a{
            text-decoration: none;
            color: white;
        }
    }
}

.section1-title{
    @include displayRow;
    @include justifyContent(space-between);
   

    &--h1{
        font-family: 'Shrikhand', cursive; 
    
    }
    &--i{
        margin-right: 5%;
    }
}

.section2-starter{
    &__ul{
        &--a{
            animation: displayAnimation 3s ease-in-out;
        }
    }
} 

.section3-dish{
    &__ul{
        &--a{
            animation: displayAnimation 6s ease-in-out;
        }
    }
}

.section4-dessert{
    &__ul{
        &--a{
            animation: displayAnimation 9s ease-in-out;
        }
    }
}


.section2-starter , .section3-dish, .section4-dessert{
    &--h2{
        border-bottom: 3px solid $thirdColor;
        width: 12%;
        font-weight: 300;
        font-size: larger;
    }
    &__ul{
        @include padding(0);
        list-style: none;

        &--a{

            @include displayRow;
            @include rounded;
            @include shadowOutset($color:lightgrey ,$s1: 0px, $s2: 0px, $s3 : 8px, $s4 : 0px) ;
            text-decoration: none;
            background-color: white;
            margin-bottom: 3%;
            color: black;
            

            .displayBlock{
                display: none; 
                width: 0;
                padding: 0;
                overflow: hidden;
            } 
                     

            div.text{
                @include padding(7px 12px);
                @include displayRow;
                @include justifyContent(space-between);
                @include ellipsis;
                align-items: flex-end ;
                width: 100%;
               
                p{
                    font-weight: 600;
                    @include ellipsis;
                }
                &--para{
                    @include ellipsis;
                   
                }

                // afficher le check
                &:hover + .displayBlock{
                    @include rounded( 0  $radius-20  $radius-20  0);
                    background-color: $thirdColor ;
                    color:  white;
                    animation: widthAnimation 500ms ease-in;
                    animation-fill-mode: forwards;
                    align-items: center;
                    justify-content: center;
                    height: 85px;                   
                    border: none;
                    display: flex;

                    i{
                        animation: turnAnimation 500ms ease-in;
                        animation-fill-mode: forwards;
                    }
                }
            }       
        }
    }
}


@media screen and (min-width: 768px){
    .section2-starter , .section3-dish, .section4-dessert{

        &__ul{
            @include displayRow;
            @include justifyContent(space-between);
           li{
            width: 33%;
           }
            &--a{
                margin: 0 3%;
            }
        }
   }
}